In [279]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [280]:
pd.read_csv("Raw_Data/Churn_Data.csv")

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

# Import the necessary libraries:

In [281]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

# Load the dataset into a Pandas DataFrame:

In [282]:
data = pd.read_csv("Raw_Data/Churn_Data.csv")

In [283]:
data

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [284]:
data['phone number'] = data['phone number'].str[:3]

In [285]:
data = data.drop(columns='phone number')

In [286]:
print(data.columns)

Index(['state', 'account length', 'area code', 'international plan',
       'voice mail plan', 'number vmail messages', 'total day minutes',
       'total day calls', 'total day charge', 'total eve minutes',
       'total eve calls', 'total eve charge', 'total night minutes',
       'total night calls', 'total night charge', 'total intl minutes',
       'total intl calls', 'total intl charge', 'customer service calls',
       'churn'],
      dtype='object')

In [287]:
data

,state,account length,area code,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,no,yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,no,no,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,no,no,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,yes,no,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,no,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

# Extract the features (X) and the target variable (y):

In [288]:
X = data.drop("churn", axis=1)
y = data["churn"]

# Perform one-hot encoding on categorical features if needed:

In [289]:
X_encoded = pd.get_dummies(X, drop_first=True)

In [290]:
X_encoded

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,...,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,international plan_yes,voice mail plan_yes
0,128,415,25,265.1,110,45.07,197.4,99,16.78,244.7,...,0,0,0,0,0,0,0,0,0,1
1,107,415,26,161.6,123,27.47,195.5,103,16.62,254.4,...,0,0,0,0,0,0,0,0,0,1
2,137,415,0,243.4,114,41.38,121.2,110,10.30,162.6,...,0,0,0,0,0,0,0,0,0,0
3,84,408,0,299.4,71,50.90,61.9,88,5.26,196.9,...,0,0,0,0,0,0,0,0,1,0
4,75,415,0,166.7,113,28.34,148.3,122,12.61,186.9,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,415,36,156.2,77,26.55,215.5,126,18.32,279.1,...,0,0,0,0,0,0,0,0,0,1
3329,68,415,0,231.1,57,39.29,153.4,55,13.04,191.3,...,0,0,0,0,0,0,1,0,0,0
3330,28,510,0,180.8,109,30.74,288.8,58,24.55,191.9,...,0,0,0,0,0,0,0,0,0,0
3331,184,510,0,213.8,105,36.35,159.6,84,13.57,139.2,...,0,0,0,0,0,0,0,0,1,0
3332,74,415,25,234.4,113,39.85,265.9,82,22.60,241.4,...,0,0,0,0,0,0,0,0,0,1

In [291]:
print(X_encoded.columns)

Index(['account length', 'area code', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'state_AL', 'state_AR', 'state_AZ',
       'state_CA', 'state_CO', 'state_CT', 'state_DC', 'state_DE', 'state_FL',
       'state_GA', 'state_HI', 'state_IA', 'state_ID', 'state_IL', 'state_IN',
       'state_KS', 'state_KY', 'state_LA', 'state_MA', 'state_MD', 'state_ME',
       'state_MI', 'state_MN', 'state_MO', 'state_MS', 'state_MT', 'state_NC',
       'state_ND', 'state_NE', 'state_NH', 'state_NJ', 'state_NM', 'state_NV',
       'state_NY', 'state_OH', 'state_OK', 'state_OR', 'state_PA', 'state_RI',
       'state_SC', 'state_SD', 'state_TN', 'state_TX', 'state_UT', 'state_VA',
       'state_VT', 'state_WA', 'state_WI', 'state_WV', 'state_WY',
       'international plan_yes', 'voice mail plan_yes'],
      dtype='object')

# Split the dataset into training and testing sets:

In [292]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

# Create and train the logistic regression model:

In [293]:
logreg = LogisticRegression(solver='liblinear')
logreg.fit(X_train, y_train)

LogisticRegression(solver='liblinear')

# Make predictions on the test set:

In [294]:
y_pred = logreg.predict(X_test)

# Evaluate the model's performance:

In [295]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.87      0.98      0.92       566
        True       0.52      0.15      0.23       101

    accuracy                           0.85       667
   macro avg       0.69      0.56      0.57       667
weighted avg       0.81      0.85      0.81       667

- This will display a classification report showing various metrics such as precision, recall, and F1-score for each class (churned and non-churned).

- Remember to ensure that you have the necessary libraries installed before running the code.

# Apply SMOTE to oversample the minority class (churned):

In [296]:
from imblearn.over_sampling import SMOTE

smote = SMOTE()
X_train_oversampled, y_train_oversampled = smote.fit_resample(X_train, y_train)

# Create and train the logistic regression model on the oversampled data:

In [297]:
logreg = LogisticRegression(solver='liblinear')
logreg.fit(X_train_oversampled, y_train_oversampled)

LogisticRegression(solver='liblinear')

# Make predictions on the test set:

In [298]:
y_pred = logreg.predict(X_test)

# Evaluate the model's performance:

In [299]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.88      0.95      0.91       566
        True       0.50      0.30      0.37       101

    accuracy                           0.85       667
   macro avg       0.69      0.62      0.64       667
weighted avg       0.83      0.85      0.83       667

In [300]:
X_train_oversampled

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,...,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,international plan_yes,voice mail plan_yes
0,243,510,0,95.500000,92,16.240000,163.700000,63,13.910000,264.200000,...,0,1,0,0,0,0,0,0,0,0
1,108,415,0,112.000000,105,19.040000,193.700000,110,16.460000,208.900000,...,0,0,0,0,0,0,0,0,0,0
2,75,415,0,222.400000,78,37.810000,327.000000,111,27.800000,208.000000,...,1,0,0,0,0,0,0,0,1,0
3,141,415,0,126.900000,98,21.570000,180.000000,62,15.300000,140.800000,...,0,0,0,0,0,0,0,0,0,0
4,86,510,0,216.300000,96,36.770000,266.300000,77,22.640000,214.000000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4563,134,412,0,260.094064,81,44.218769,251.666521,101,21.392580,191.140594,...,0,0,0,0,0,0,0,0,0,0
4564,58,413,0,150.764808,107,25.628493,229.019430,87,19.468964,213.376369,...,0,0,0,0,0,0,0,0,0,0
4565,128,411,0,289.961670,106,49.293572,178.019669,98,15.129628,194.524916,...,0,0,0,0,0,0,0,0,0,0
4566,82,510,0,146.402683,79,24.885668,201.985434,82,17.170262,224.955090,...,0,0,0,0,0,0,0,0,0,0
4567,172,411,0,246.121140,63,41.843063,298.993545,123,25.415595,187.773417,...,0,0,0,0,0,0,0,0,0,0

In [301]:
print(X_train_oversampled.columns)

Index(['account length', 'area code', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'state_AL', 'state_AR', 'state_AZ',
       'state_CA', 'state_CO', 'state_CT', 'state_DC', 'state_DE', 'state_FL',
       'state_GA', 'state_HI', 'state_IA', 'state_ID', 'state_IL', 'state_IN',
       'state_KS', 'state_KY', 'state_LA', 'state_MA', 'state_MD', 'state_ME',
       'state_MI', 'state_MN', 'state_MO', 'state_MS', 'state_MT', 'state_NC',
       'state_ND', 'state_NE', 'state_NH', 'state_NJ', 'state_NM', 'state_NV',
       'state_NY', 'state_OH', 'state_OK', 'state_OR', 'state_PA', 'state_RI',
       'state_SC', 'state_SD', 'state_TN', 'state_TX', 'state_UT', 'state_VA',
       'state_VT', 'state_WA', 'state_WI', 'state_WV', 'state_WY',
       'international plan_yes', 'voice mail plan_yes'],
      dtype='object')

In [302]:

# Get the feature coefficients
coefficients = logreg.coef_[0]

# Create a DataFrame to store the feature names and corresponding coefficients
feature_coefficients = pd.DataFrame({'Feature': X_train.columns, 'Coefficient': coefficients})

# Sort the coefficients by magnitude (absolute value)
feature_coefficients['Abs_Coefficient'] = feature_coefficients['Coefficient'].abs()
feature_coefficients = feature_coefficients.sort_values('Abs_Coefficient', ascending=False)

# Print the feature coefficients
print(feature_coefficients)

              Feature  Coefficient  Abs_Coefficient
61           state_VT    -3.977767         3.977767
43           state_ND    -3.969261         3.969261
16           state_AL    -3.769867         3.769867
60           state_VA    -3.763932         3.763932
29           state_IL    -3.639018         3.639018
..                ...          ...              ...
10  total night calls    -0.001746         0.001746
0      account length     0.000899         0.000899
1           area code     0.000685         0.000685
4     total day calls    -0.000265         0.000265
7     total eve calls     0.000246         0.000246

[68 rows x 3 columns]

In [303]:
# Sort the coefficients by magnitude (absolute value) in descending order
feature_coefficients = feature_coefficients.sort_values('Abs_Coefficient', ascending=False)

# Print the feature coefficients
print(feature_coefficients)

              Feature  Coefficient  Abs_Coefficient
61           state_VT    -3.977767         3.977767
43           state_ND    -3.969261         3.969261
16           state_AL    -3.769867         3.769867
60           state_VA    -3.763932         3.763932
29           state_IL    -3.639018         3.639018
..                ...          ...              ...
10  total night calls    -0.001746         0.001746
0      account length     0.000899         0.000899
1           area code     0.000685         0.000685
4     total day calls    -0.000265         0.000265
7     total eve calls     0.000246         0.000246

[68 rows x 3 columns]

In [304]:
feature_coefficients.to_excel('Testing_Outputs/feature_coefficients.xlsx', index=False)

In [305]:
import statsmodels.api as sm

# Fit the logistic regression model
logreg = sm.Logit(y_train, sm.add_constant(X_train))
result = logreg.fit()

# Perform significance testing
p_values = result.pvalues[1:]  # Exclude the intercept

# Print the feature names and their corresponding p-values
p_values_df = pd.DataFrame({'Feature': X_train.columns, 'p-value': p_values})
print(p_values_df)

Optimization terminated successfully.
         Current function value: 0.309034
         Iterations 8
                                       Feature       p-value
account length                  account length  6.187494e-01
area code                            area code  1.755716e-01
number vmail messages    number vmail messages  2.612198e-01
total day minutes            total day minutes  5.567656e-01
total day calls                total day calls  9.992125e-01
...                                        ...           ...
state_WI                              state_WI  5.716562e-01
state_WV                              state_WV  4.634810e-01
state_WY                              state_WY  6.569359e-01
international plan_yes  international plan_yes  1.120443e-38
voice mail plan_yes        voice mail plan_yes  1.132220e-02

[68 rows x 2 columns]

In [306]:
p_values_df

                                       Feature       p-value
account length                  account length  6.187494e-01
area code                            area code  1.755716e-01
number vmail messages    number vmail messages  2.612198e-01
total day minutes            total day minutes  5.567656e-01
total day calls                total day calls  9.992125e-01
...                                        ...           ...
state_WI                              state_WI  5.716562e-01
state_WV                              state_WV  4.634810e-01
state_WY                              state_WY  6.569359e-01
international plan_yes  international plan_yes  1.120443e-38
voice mail plan_yes        voice mail plan_yes  1.132220e-02

[68 rows x 2 columns]

In [307]:
p_values_df.to_excel('Testing_Outputs/p_values_df.xlsx', index=False)

In [308]:
data

,state,account length,area code,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,no,yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,no,no,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,no,no,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,yes,no,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,no,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [309]:
data_cleaned = data.drop([ 'total day calls', 'total night charge', 'total night minutes', 'total eve calls', 'total night calls', 'account length', 'total day minutes', 'total day charge', 'total intl minutes', 'total eve charge', 'total intl charge', 'total eve minutes', 'number vmail messages'
], axis=1)

In [310]:
X_cleaned = data_cleaned.drop("churn", axis=1)
y_cleaned = data_cleaned["churn"]

In [311]:
X_encoded = pd.get_dummies(X_cleaned, drop_first=True)

In [312]:
X_encoded = pd.get_dummies(X_encoded, columns=['area code'], drop_first=True)

In [313]:
X_encoded

,total intl calls,customer service calls,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_DE,...,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,international plan_yes,voice mail plan_yes,area code_415,area code_510
0,3,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,3,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,7,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,3,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,6,2,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3329,4,3,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3330,6,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3331,10,2,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
3332,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

In [314]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y_cleaned, test_size=0.2, random_state=42)

In [315]:
logreg = LogisticRegression(solver='liblinear')
logreg.fit(X_train, y_train)

LogisticRegression(solver='liblinear')

In [316]:
y_pred = logreg.predict(X_test)

In [317]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.86      0.98      0.92       566
        True       0.48      0.12      0.19       101

    accuracy                           0.85       667
   macro avg       0.67      0.55      0.55       667
weighted avg       0.80      0.85      0.81       667

In [318]:
from imblearn.over_sampling import SMOTE

smote = SMOTE()
X_train_oversampled, y_train_oversampled = smote.fit_resample(X_train, y_train)

In [319]:
logreg = LogisticRegression(solver='liblinear')
logreg.fit(X_train_oversampled, y_train_oversampled)

LogisticRegression(solver='liblinear')

In [320]:
y_pred = logreg.predict(X_test)

In [321]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.88      0.94      0.91       566
        True       0.43      0.27      0.33       101

    accuracy                           0.84       667
   macro avg       0.65      0.60      0.62       667
weighted avg       0.81      0.84      0.82       667

In [322]:
X_train_oversampled.columns

Index(['total intl calls', 'customer service calls', 'state_AL', 'state_AR',
       'state_AZ', 'state_CA', 'state_CO', 'state_CT', 'state_DC', 'state_DE',
       'state_FL', 'state_GA', 'state_HI', 'state_IA', 'state_ID', 'state_IL',
       'state_IN', 'state_KS', 'state_KY', 'state_LA', 'state_MA', 'state_MD',
       'state_ME', 'state_MI', 'state_MN', 'state_MO', 'state_MS', 'state_MT',
       'state_NC', 'state_ND', 'state_NE', 'state_NH', 'state_NJ', 'state_NM',
       'state_NV', 'state_NY', 'state_OH', 'state_OK', 'state_OR', 'state_PA',
       'state_RI', 'state_SC', 'state_SD', 'state_TN', 'state_TX', 'state_UT',
       'state_VA', 'state_VT', 'state_WA', 'state_WI', 'state_WV', 'state_WY',
       'international plan_yes', 'voice mail plan_yes', 'area code_415',
       'area code_510'],
      dtype='object')

In [323]:
X_train_oversampled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4568 entries, 0 to 4567
Data columns (total 56 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   total intl calls        4568 non-null   int64
 1   customer service calls  4568 non-null   int64
 2   state_AL                4568 non-null   uint8
 3   state_AR                4568 non-null   uint8
 4   state_AZ                4568 non-null   uint8
 5   state_CA                4568 non-null   uint8
 6   state_CO                4568 non-null   uint8
 7   state_CT                4568 non-null   uint8
 8   state_DC                4568 non-null   uint8
 9   state_DE                4568 non-null   uint8
 10  state_FL                4568 non-null   uint8
 11  state_GA                4568 non-null   uint8
 12  state_HI                4568 non-null   uint8
 13  state_IA                4568 non-null   uint8
 14  state_ID                4568 non-null   uint8
 15  state_IL                4568 non-null   uint8
 16  state_IN                4568 non-null   uint8
 17  state_KS                4568 non-null   uint8
 18  state_KY                4568 non-null   uint8
 19  state_LA                4568 non-null   uint8
 20  state_MA                4568 non-null   uint8
 21  state_MD                4568 non-null   uint8
 22  state_ME                4568 non-null   uint8
 23  state_MI                4568 non-null   uint8
 24  state_MN                4568 non-null   uint8
 25  state_MO                4568 non-null   uint8
 26  state_MS                4568 non-null   uint8
 27  state_MT                4568 non-null   uint8
 28  state_NC                4568 non-null   uint8
 29  state_ND                4568 non-null   uint8
 30  state_NE                4568 non-null   uint8
 31  state_NH                4568 non-null   uint8
 32  state_NJ                4568 non-null   uint8
 33  state_NM                4568 non-null   uint8
 34  state_NV                4568 non-null   uint8
 35  state_NY                4568 non-null   uint8
 36  state_OH                4568 non-null   uint8
 37  state_OK                4568 non-null   uint8
 38  state_OR                4568 non-null   uint8
 39  state_PA                4568 non-null   uint8
 40  state_RI                4568 non-null   uint8
 41  state_SC                4568 non-null   uint8
 42  state_SD                4568 non-null   uint8
 43  state_TN                4568 non-null   uint8
 44  state_TX                4568 non-null   uint8
 45  state_UT                4568 non-null   uint8
 46  state_VA                4568 non-null   uint8
 47  state_VT                4568 non-null   uint8
 48  state_WA                4568 non-null   uint8
 49  state_WI                4568 non-null   uint8
 50  state_WV                4568 non-null   uint8
 51  state_WY                4568 non-null   uint8
 52  international plan_yes  4568 non-null   uint8
 53  voice mail plan_yes     4568 non-null   uint8
 54  area code_415           4568 non-null   uint8
 55  area code_510           4568 non-null   uint8
dtypes: int64(2), uint8(54)
memory usage: 312.4 KB

In [324]:
# Fit the logistic regression model
logreg = sm.Logit(y_train_oversampled, sm.add_constant(X_train_oversampled))
result = logreg.fit()

# Perform significance testing
p_values = result.pvalues[1:]  # Exclude the intercept

# Create a DataFrame for feature names and p-values
p_values_df = pd.DataFrame({'Feature': X_train_oversampled.columns, 'p-value': p_values})

# Print the feature names and their corresponding p-values
print(p_values_df)

Optimization terminated successfully.
         Current function value: 0.305851
         Iterations 8
                                       Feature       p-value
total intl calls              total intl calls  5.484558e-09
customer service calls  customer service calls  4.356181e-30
state_AL                              state_AL  4.888398e-31
state_AR                              state_AR  4.259019e-34
state_AZ                              state_AZ  1.623615e-24
state_CA                              state_CA  1.424191e-20
state_CO                              state_CO  5.728303e-44
state_CT                              state_CT  3.654637e-39
state_DC                              state_DC  6.868559e-25
state_DE                              state_DE  4.189670e-39
state_FL                              state_FL  1.399711e-33
state_GA                              state_GA  1.278155e-33
state_HI                              state_HI  2.244198e-22
state_IA                              state_IA  3.489115e-30
state_ID                              state_ID  1.454120e-39
state_IL                              state_IL  1.278801e-28
state_IN                              state_IN  1.411406e-42
state_KS                              state_KS  1.429597e-38
state_KY                              state_KY  1.074116e-38
state_LA                              state_LA  2.322340e-25
state_MA                              state_MA  3.585414e-35
state_MD                              state_MD  3.724101e-47
state_ME                              state_ME  9.019678e-37
state_MI                              state_MI  6.956821e-42
state_MN                              state_MN  4.624553e-44
state_MO                              state_MO  1.434943e-30
state_MS                              state_MS  1.391926e-33
state_MT                              state_MT  2.836066e-34
state_NC                              state_NC  2.596014e-39
state_ND                              state_ND  6.104846e-20
state_NE                              state_NE  1.328425e-32
state_NH                              state_NH  2.779649e-29
state_NJ                              state_NJ  1.994631e-34
state_NM                              state_NM  4.879226e-38
state_NV                              state_NV  4.376862e-38
state_NY                              state_NY  2.242364e-43
state_OH                              state_OH  3.617470e-46
state_OK                              state_OK  1.269074e-33
state_OR                              state_OR  6.994623e-42
state_PA                              state_PA  2.261037e-30
state_RI                              state_RI  7.948306e-35
state_SC                              state_SC  2.402605e-33
state_SD                              state_SD  6.185917e-37
state_TN                              state_TN  2.423056e-28
state_TX                              state_TX  7.881545e-39
state_UT                              state_UT  4.256221e-38
state_VA                              state_VA  1.265618e-39
state_VT                              state_VT  2.508524e-25
state_WA                              state_WA  7.546925e-42
state_WI                              state_WI  6.510998e-43
state_WV                              state_WV  3.172309e-47
state_WY                              state_WY  5.494724e-44
international plan_yes  international plan_yes  4.210352e-34
voice mail plan_yes        voice mail plan_yes  5.944427e-23
area code_415                    area code_415  1.858949e-05
area code_510                    area code_510  1.539598e-04

In [325]:
p_values_df.to_excel('p_values_df.xlsx', index=False)